# Introduction to Data Science
## Homework 2

Student Name: Shyam Nair

Student Netid: smn387
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

Target wants to increase its sales(for obvious reasons) by influencing all the people to buy products from target. They plan to do this by predicting what a customer would buy/need in the near future by observing every customer's spending pattern. By doing so, they can recommend customers with items that they wish to buy thus ensuring that the customer always ends up shopping at Target! In this problem the focus is on alluring customers who are pregnant to buy their baby-related items from Target.

The data science work flow is as follows:

1.The problem statement - The problem here is to find a list of customers who are pregnant based on their shopping patterns, so that they can be given recommendations for purchasing items and targeted in future advertisements.

2.Fetching data - Majority of the data comes from the customer's current purchasing patterns that can be used to make predictions for the retail. Thus, every customer's spending patterns are stored in detail who visits Target online or In store so that this data can be analyzed.

3.Clean the Data – The data set that has been fetched is more likely to be misclassified and unstructured. It is very important to clean the data and handle misclassified data. Data should be cleaned, structured and enhanced in this phase so that proper analysis can be done. 

4.Analyze the Data - After cleaning the data, it should be extensively explored/analyzed so that an understanding of the data can be established and certain exceptions for outliers can be made well in advance. Various conclusions can be drawn by linking this data set with other existing public data sets.For example, if the public data of birth dates is combined with that customer’s shopping pattern data for the past one year (especially the pregnancy period), we can create a model that learns from this training data set , how the customer's shopping pattern varies over a period of time(particularly when the customer is pregnant)

5.Data Modeling – Data modeling is the most important step for any data science project as it determines how accurate the results are. Modeling the data involves different steps such as building a model, fitting the model to the data and finally validating the model by comparing multiple iterations of results. 
In this case, a model should be built such that it takes into account the spending patterns of a huge number of women across the world who have just given birth to a baby. From these spending patterns, correlations can be drawn such as, most pregnant women began purchasing a lot of nutrition rich food, or most pregnant women started buying diapers or other baby related products, etc. Such a model would then learn from the past data and apply it on the currently generated data, and can predict a set of women that could possibly be pregnant. If the model generates a good cross validated score and it does not overfit or underfit, it can be declared as a good model and can be used to predict results accurately!

6.Visualizing results – Finally, by looking at the results, we should be able to interpret some results and find out was there anything new that we learned about the customer. Can the results be used to predict shopping patterns more accurately? Are we missing out on some features that we did not consider while creating the model? Can more features be added so as to improve the cross-validation score of the model?

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell in your terminal and then just paste your answers here. Recall that once you enter the "!" then filename completion should work. Also, these are standard data exploration commands that are quick and easy to use in a terminal or in the notebook. We don't cover command line operations formally in this class, but these are worth learning (and thus are part of the HW). Be resourceful. Use whatever online cheat sheets or Stackoverflow to answer the question.]

1\. How many records (lines) are in this file (look up wc)?

In [73]:
# Place your code here
!wc -l advertising_events.csv

10341 advertising_events.csv

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [74]:
# Place your code here
!cut -d , -f1 advertising_events.csv | sort | uniq | wc -l

732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [75]:
# Place your code here
!cut -d , -f3 advertising_events.csv | sort -n | uniq -c | sort -nr

   3114 google.com
   2092 facebook.com
   1036 youtube.com
   1034 yahoo.com
   1022 baidu.com
    513 wikipedia.org
    511 amazon.com
    382 qq.com
    321 twitter.com
    316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [76]:
# Place your code here
! awk -F , '$1 == 37 { print $0}' advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically

In [77]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np
import csv

1\. Load the data set `"ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [78]:
# Place your code here
df = pd.read_csv("ads_dataset.tsv", delimiter='\t')
ads = pd.DataFrame(df)
ads

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaN,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaN,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaN,1,1.0,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaN,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaN,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaN,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaN,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaN,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaN,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaN,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaN,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaN,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaN,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaN,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaN,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

In [79]:
ads.describe()

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
count,54584.000000,2327.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000
mean,0.042632,1.240653,1.852777,0.210008,5.825610,-0.198040,-10.210786,64.729335,64.729335,0.006357,0.277444,86.569343,720.657592,0.004635
std,0.202027,0.782228,2.921820,3.922016,17.595442,4.997792,31.879722,53.476658,53.476658,0.079479,0.447742,61.969765,1275.727306,0.067924
min,0.000000,1.000000,0.000000,0.000000,0.000000,-181.923800,-187.615600,0.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,18.000000,18.000000,0.000000,0.000000,30.000000,127.000000,0.000000
50%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,51.000000,51.000000,0.000000,0.000000,75.000000,319.000000,0.000000
75%,0.000000,1.000000,2.000000,0.000000,0.104167,0.000000,0.000000,105.000000,105.000000,0.000000,1.000000,155.000000,802.000000,0.000000
max,1.000000,15.000000,84.000000,174.625000,184.916700,84.285710,91.401920,188.000000,188.000000,1.000000,1.000000,206.000000,37091.000000,1.000000

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [80]:
def getDfSummary(input_data):
    # Place your code here
    headers = ['Number_distinct', 'Number_Nan', 'Mean', 'Maximum', 'Minimum', 'Std_dev', '25%', '50%', '75%']
    Variables = input_data.columns
    output_data = pd.DataFrame(columns=headers, index = Variables)
    output_data['Number_Nan'] = input_data.isnull().sum()
    output_data['Number_distinct'] = input_data.T.apply(lambda data: data.nunique(), axis=1)
    output_data['Mean'] = input_data.T.apply(lambda data: data.mean(), axis=1)
    output_data['Maximum'] = input_data.T.apply(lambda data: data.max(), axis=1)
    output_data['Minimum'] = input_data.T.apply(lambda data: data.min(), axis=1)
    output_data['Std_dev'] = input_data.T.apply(lambda data: data.std(), axis=1)
    output_data['25%'] = input_data.T.apply(lambda data: data.quantile(0.25), axis=1)
    output_data['50%'] = input_data.T.apply(lambda data: data.quantile(0.50), axis=1)    
    output_data['75%'] = input_data.T.apply(lambda data: data.quantile(0.75), axis=1)     
    return output_data

In [81]:
dfSummary = getDfSummary(ads)
dfSummary

,Number_distinct,Number_Nan,Mean,Maximum,Minimum,Std_dev,25%,50%,75%
isbuyer,2,0,0.042632,1.00000,0.0000,0.202027,0.0,0.0,0.000000
buy_freq,10,52257,1.240653,15.00000,1.0000,0.782228,1.0,1.0,1.000000
visit_freq,64,0,1.852777,84.00000,0.0000,2.921820,1.0,1.0,2.000000
buy_interval,295,0,0.210008,174.62500,0.0000,3.922016,0.0,0.0,0.000000
sv_interval,5886,0,5.825610,184.91670,0.0000,17.595442,0.0,0.0,0.104167
expected_time_buy,348,0,-0.198040,84.28571,-181.9238,4.997792,0.0,0.0,0.000000
expected_time_visit,15135,0,-10.210786,91.40192,-187.6156,31.879722,0.0,0.0,0.000000
last_buy,189,0,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
last_visit,189,0,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
multiple_buy,2,0,0.006357,1.00000,0.0000,0.079479,0.0,0.0,0.000000
multiple_visit,2,0,0.277444,1.00000,0.0000,0.447742,0.0,0.0,1.000000
uniq_urls,207,0,86.569343,206.00000,-1.0000,61.969765,30.0,75.0,155.000000
num_checkins,4628,0,720.657592,37091.00000,1.0000,1275.727306,127.0,319.0,802.000000
y_buy,2,0,0.004635,1.00000,0.0000,0.067924,0.0,0.0,0.000000

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [82]:
# Place your code here
from timeit import Timer
%timeit getDfSummary(ads)
t = Timer(lambda: getDfSummary(ads))
print(t.timeit(number = 1))

10 loops, best of 3: 109 ms per loop
0.15251170058036223

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [83]:
# Place your code here
print("Field(s) that contain missing values are:{}". format(dfSummary.index[dfSummary['Number_Nan']>0].tolist()))

Field(s) that contain missing values are:['buy_freq']

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [84]:
# Place your code here
missingdf = ads[ads.isnull().any(axis=1)]
missingdf

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaN,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaN,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaN,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaN,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaN,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaN,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaN,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaN,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
NaN,0,NaN,3,0.0,0.145833,0.0,0.070985,0,0,0,1,13,113,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaN,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaN,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaN,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaN,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaN,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaN,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

In [85]:
getDfSummary(missingdf)

,Number_distinct,Number_Nan,Mean,Maximum,Minimum,Std_dev,25%,50%,75%
isbuyer,1,0,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
buy_freq,0,52257,NaN,NaN,NaN,NaN,NaN,NaN,NaN
visit_freq,48,0,1.651549,84.00000,1.0000,2.147955,1.0,1.0,2.000000
buy_interval,1,0,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
sv_interval,5112,0,5.686388,184.91670,0.0000,17.623555,0.0,0.0,0.041667
expected_time_buy,1,0,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
expected_time_visit,13351,0,-9.669298,91.40192,-187.6156,31.239030,0.0,0.0,0.000000
last_buy,189,0,65.741317,188.00000,0.0000,53.484622,19.0,52.0,106.000000
last_visit,189,0,65.741317,188.00000,0.0000,53.484622,19.0,52.0,106.000000
multiple_buy,1,0,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
multiple_visit,2,0,0.255602,1.00000,0.0000,0.436203,0.0,0.0,1.000000
uniq_urls,207,0,86.656180,206.00000,-1.0000,61.996711,30.0,75.0,155.000000
num_checkins,4570,0,721.848518,37091.00000,1.0000,1284.504018,126.0,318.0,803.000000
y_buy,2,0,0.003024,1.00000,0.0000,0.054904,0.0,0.0,0.000000

Following differences can be observed by comparing both the results:

1.buy_freq details are different.

2.number_distinct for isbuyer which was 2 earlier, is now 1.

3.number_distinct for buy_freq which was 10 earlier, is now 0.

This means that for only for buyers,buy_freq is not Nan and for non buyers, buy_freq is Nan.

6\. Which variables are binary?

In [86]:
# Place your code here
binary=[col for col in ads 
            if ads[[col]].dropna().isin([0, 1]).all().values]
print("Variable(s) which are binary are:{}". format(binary))

Variable(s) which are binary are:['isbuyer', 'multiple_buy', 'multiple_visit', 'y_buy']